.card {
    margin: 20px;
    padding: 20px;
    width: 500px;
    min-height: 200px;
    display: grid;
    grid-template-rows: 20px 50px 1fr 50px;
    border-radius: 10px;
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
    transition: all 0.2s;
}
.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px;
    flex: 1
}

.singleCard {
    background: radial-gradient(#76b2fe, #b69efe);
}

.heart {
    grid-row: 2/3;
    font-size: 30px;
}

.exit {
    grid-row: 1/2;
    justify-self: end;
}

.message {
    grid-row: 3/4;
    font-weight: 400;
    color: #ffffff;
}

.likes {
    grid-row: 3/4;
    font-weight: 400;
    color: #ffffff;
}

/* @media (max-width: 1600px) {
    .cards {
    justify-content: center;
} */