.App {
    background-color: #d8d5e8;
    min-height: 80vh;
    display: flex;
    flex-direction: row;
    align-items: left;
    justify-content: space-evenly;
    font-size: calc(10px + 2vmin);
    color: white;
}

.Header{
    background-color: #02162b;
    min-height: 20vh;
    color: white;
    font-family: cursive;
}